@using AssetTrakingSystemApp.Models
@model AssetTrakingSystemApp.Models.GeneralCatagory
@{
    ViewBag.Title = "Save";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (ViewBag.message != null)
{
    <h4>@ViewBag.message</h4>
}

<h2>Save General Category</h2>
@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>@Html.LabelFor(c => c.Name)</td>
            <td>@Html.TextBoxFor(c => c.Name)</td>
            <td>@Html.ValidationMessageFor(c => c.Name)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(c => c.Code)</td>
            <td>@Html.TextBoxFor(c => c.Code)</td>
            <td>@Html.ValidationMessageFor(c => c.Code)</td>
        </tr>

        <tr>
            <td></td>
            <td><input type="submit" value="Save"/></td>
        </tr>
    </table>
    <br/>
    <br/>
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Code</th>
            
        </tr>
        @foreach (var org in ((List<GeneralCatagory>) ViewBag.GeneralCategoryList))
        {
            <tr>
                <td>@org.Name</td>
                <td>@org.Code</td>

            </tr>
        }

    </table>
}
