@model AssetTrakingSystemApp.Models.UserRegistration
@{
    ViewBag.Title = "Save";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.message != null)
{
    <h4>@ViewBag.message</h4>
}
<h2>User Registration</h2>
@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>@Html.LabelFor(c => c.FirstName)</td>
            <td>@Html.TextBoxFor(c => c.FirstName)</td>
            <td>@Html.ValidationMessageFor(c => c.FirstName)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(c => c.LastName)</td>
            <td>@Html.TextBoxFor(c => c.LastName)</td>
            <td>@Html.ValidationMessageFor(c => c.LastName)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(c => c.Organization)</td>
            <td>@Html.TextBoxFor(c => c.Organization)</td>
            <td>@Html.ValidationMessageFor(c => c.Organization)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(c => c.Designation)</td>
            <td>@Html.TextBoxFor(c => c.Designation)</td>
            <td>@Html.ValidationMessageFor(c => c.Designation)</td>
        </tr>      
        <tr>
            <td>@Html.LabelFor(c => c.Email)</td>
            <td>@Html.TextBoxFor(c => c.Email)</td>
            <td>@Html.ValidationMessageFor(c => c.Email)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(c => c.Phone)</td>
            <td>@Html.TextBoxFor(c => c.Phone)</td>
            <td>@Html.ValidationMessageFor(c => c.Phone)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(c => c.Password)</td>
            <td>@Html.TextBoxFor(c => c.Password)</td>
            <td>@Html.ValidationMessageFor(c => c.Password)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(c => c.Gender)</td>
            <td>@Html.RadioButtonFor(c => c.Gender, "Male")Male
            @Html.RadioButtonFor(c => c.Gender, "Female")Female
            @Html.RadioButtonFor(c => c.Gender, "Unknown")Unknown</td>
            <td>@Html.ValidationMessageFor(c => c.Gender)</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Save"/></td>
        </tr>
    </table>


}