@model AssetTrakingSystemApp.Models.UserRegistration
@{
    ViewBag.Title = "Save";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.message != null)
{
    <h4>@ViewBag.message</h4>
}
<h2 class="text-info">User Registration</h2>
@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(c => c.FirstName)
        @Html.TextBoxFor(c => c.FirstName, new {@class = "form-control"})
        @Html.ValidationMessageFor(c => c.FirstName)
    </div>
    <div>
        @Html.LabelFor(c => c.LastName)
        @Html.TextBoxFor(c => c.LastName, new {@class = "form-control"})
        @Html.ValidationMessageFor(c => c.LastName)
    </div>
    <div>
        @Html.LabelFor(c => c.Organization)
        @Html.TextBoxFor(c => c.Organization, new {@class = "form-control"})
        @Html.ValidationMessageFor(c => c.Organization)
    </div>
    <div>
        @Html.LabelFor(c => c.Designation)
        @Html.TextBoxFor(c => c.Designation, new {@class = "form-control"})
        @Html.ValidationMessageFor(c => c.Designation)
    </div>
    <div>
        @Html.LabelFor(c => c.Email)
        @Html.TextBoxFor(c => c.Email, new {@class = "form-control"})
        @Html.ValidationMessageFor(c => c.Email)
    </div>
    <div>
        @Html.LabelFor(c => c.Phone)
        @Html.TextBoxFor(c => c.Phone, new {@class = "form-control"})
        @Html.ValidationMessageFor(c => c.Phone)
    </div>
    <div>
        @Html.LabelFor(c => c.Password)
        @Html.TextBoxFor(c => c.Password, new {@class = "form-control"})
        @Html.ValidationMessageFor(c => c.Password)
    </div>
    <br/>
    <div>
         @Html.LabelFor(c => c.Gender)

         @Html.RadioButtonFor(c => c.Gender, "Male")Male
         @Html.RadioButtonFor(c => c.Gender, "Female")Female
         @Html.RadioButtonFor(c => c.Gender, "Unknown")Unknown

         @Html.ValidationMessageFor(c => c.Gender)
       
    </div>
<br/>
    <div>
        <button type="submit" class="btn-primary">Save</button>
    </div>
}