@using AssetTrakingSystemApp.Models
@model AssetTrakingSystemApp.Models.CategorySetup
@{
    ViewBag.Title = "Save";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (ViewBag.message != null)
{
    <h4 class="text-danger">@ViewBag.message</h4>
}

<h2 class="text-info">Save  Category</h2>

@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(c => c.GeneralCategoryId)
        <select class="form-control" id="" name="GeneralCategoryId">
            <option>select..</option>
            @foreach (var sym in ((List<GeneralCatagory>)ViewBag.GeneralCategoryList))
            {
                <option value="@sym.Id">@sym.Name</option>
            }
        </select>       
        @*@Html.DropDownListFor(c => c.GeneralCategoryId, new SelectList(ViewBag.GeneralCategoryList, "Id", "Name"), new {@class = "form-control"})*@
        @Html.ValidationMessageFor(c => c.GeneralCategoryId)
    </div>
    <div>
        @Html.LabelFor(c => c.Name)
        @Html.TextBoxFor(c => c.Name, new {@class = "form-control"})
        @Html.ValidationMessageFor(c => c.Name)
    </div>
    <div>
        @Html.LabelFor(c => c.Code)
        @Html.TextBoxFor(c => c.Code,new{@class="form-control"})
        @Html.ValidationMessageFor(c => c.Code)
    </div>
    <br/>
    <div>
        <button type="submit" class="btn-primary">Save</button>
    </div>
    <br /><br />
    <table class="table table-striped">
        <tr>
            <th class="text-info">Name</th>
            <th class="text-info">Short Name</th>
            @*<th>Under of Organization</th>*@

        </tr>
        @foreach (var org in ((List<CategorySetup>)ViewBag.CategorySetupList))
        {
            <tr>
                <td>@org.Name</td>
                <td>@org.Code</td>
                @*<td @org.OrganizationId>@org.Organization.Name</td>*@

            </tr>
        }

    </table>

}