@using AssetTrakingSystemApp.Models
@model AssetTrakingSystemApp.Models.Organization
@{
    ViewBag.Title = "Save";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.message != null)
{
    <h4 class="text-danger">@ViewBag.message</h4>
}
<h2 class="text-info">Save Organization</h2>
 @using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(c => c.Name)
        @Html.TextBoxFor(c => c.Name, new {@class = "form-control"})
        @Html.ValidationMessageFor(c => c.Name)
    </div>
    <div>
        @Html.LabelFor(c => c.Code)
        @Html.TextBoxFor(c => c.Code, new {@class = "form-control"})
        @Html.ValidationMessageFor(c => c.Code)
    </div>
    <div>
        @Html.LabelFor(c => c.Location)
        @Html.TextBoxFor(c => c.Location, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Location) 
    </div>
     <br/>
    <div>
        <button type="submit" class="btn btn-primary">Save</button>
       
    </div>
           
        
    <br/>
    <table class="table table-striped">
        <tr>
            <th class="text-info">Name</th>
            <th class="text-info">Code</th>
            <th class="text-info">Location</th>
        </tr>
        @foreach (var org in ((List<Organization>) ViewBag.organizationList))
        {
            <tr>
                <td>@org.Name</td>
                <td>@org.Code</td>
                <td>@org.Location</td>
            </tr>
        }

    </table>
     
}


